*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Smokum", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #3a160e;
  background-color: rgb(217, 215, 199);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  display: block;
}

button {
  padding: 0;
}

p {
  margin: 0;
}