.row {
  display: flex;
  justify-content: flex-end;
  background-color: yellowgreen;

  &:nth-child(5n + 5):not(:last-child) {
    border-bottom: 1px solid #4c4c4c;
    height: 50.5px;
  }

  &>.cell-pict {
    &:nth-child(5n + 5):not(:last-child) {
      border-right: 1px solid #4c4c4c;
    }
  }
}

.row-hints {
  display: flex;
  justify-content: flex-end;
  background-color: yellowgreen;
  border-right: 2px solid #333;
}

.row-pict {
  display: flex;

  &>.cell-pict {
    &:nth-child(5n + 5):not(:last-child) {
      border-right: 1px solid #4c4c4c;
    }
  }
}