.gallow {
  text-align: center;
}

.gallow__img {
  height: 300px;
  margin-bottom: 30px;

  @media screen and (height <=450px) {
    & {
      height: 200px;
    }
  }

  @media screen and (width>=getBreakpoint('desktop')) {
    & {
      height: 400px;
    }
  }
}

.gallow__title {
  font-size: 55px;
  color: rgb(58, 22, 14);

  @media screen and (width>=getBreakpoint('desktop')) {
    & {
      font-size: 75px;
    }
  }
}