:root {
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: #403f3dcc;
  --border-light: #c1b6ad;
  --border-dark: #665f55;
  --main-font: "Inter", sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*============RESET============*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}
html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  font-family: var(--main-font);
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--background-body);
  padding-top: 18px;
  padding-bottom: 40px;
}
input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}
img {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ol,
ul {
  list-style: none;
}
::-moz-placeholder {
  opacity: 1;
}
/*============BASE============*/
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}
/* @media screen and (width< 1440px) {
  .container {
    max-width: 768px;
  }
} */
@media screen and (width< 768px) {
  .container {
    max-width: 380px;
    padding: 0 16px;
  }
}
/*============HEADER============*/
.header {
  margin-bottom: 20px;
}
.header__nav-list {
  display: flex;
}
.header__nav-list-item {
  font-family: Inter;
  font-size: 16px;
  line-height: 1.5;
}
.header__nav-list-item:not(:last-child) {
  margin-right: 40px;
}
.header__nav-list-link {
  position: relative;
}
.header__nav-list-link::before,
.header__menu-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -10px;
  background-color: var(--background-backdrop);
  transition: 0.5s;
  transform: scaleX(0);
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-link {
  position: relative;
  display: flex;
  align-items: center;
}
.header__menu-link--current {
  pointer-events: none;
}
.header__menu-link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -5px;
  background-color: var(--background-backdrop);
}
.header__menu-link-img {
  margin-left: 8px;
  stroke: var(--text-dark);
}
.header__nav--notdesktop {
  display: none;
}
.header__nav-btm--notdesktop {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  background-color: inherit;
}
.header__nav-btm-icon--notdesktop {
  stroke: var(--text-dark);
}
@media ((hover: hover) and (pointer: fine)) {
  .header__nav-list-link:hover::before,
  .header__menu-link:hover::before {
    transform: scaleX(1);
  }
}
@media screen and (width< 1100px) {
  .header__nav--notdesktop {
    display: block;
  }
  .header__nav,
  .header__menu-link {
    display: none;
  }
}
/*============HERO============*/
.hero {
  margin-bottom: 100px;
}
.hero__wrapper {
  background-image: url(images/hero-desktop/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 644px;
  border-radius: 40px;
  padding: 100px;
}
.hero__title {
  font-size: 72px;
  line-height: 1.05;
  max-width: 530px;
  margin-bottom: 40px;
  color: var(--text-light);
}
.hero__title--italic {
  font-style: italic;
  color: var(--text-accent);
}
.hero__description {
  max-width: 530px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
  color: var(--text-light);
}
.hero__menu-link {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  max-width: 200px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--background-body);
}
.hero__menu-link-img {
  position: absolute;
  right: 65px;
  stroke: var(--text-dark);
  transition: 0.5s;
  opacity: 0;
}
@media ((hover: hover) and (pointer: fine)) {
  .hero__menu-link-description {
    transform: translatex(0);
    transition: 0.5s;
  }
  .hero__menu-link:hover .hero__menu-link-description {
    transform: translatex(-13px);
  }
  .hero__menu-link:hover .hero__menu-link-img {
    opacity: 1;
  }
}
@media screen and (width< 1440px) {
  .hero__wrapper {
    padding: 100px 60px;
  }
  .hero__menu-link-img {
    position: static;
    opacity: 1;
  }
  .hero__menu-link-description {
    margin-right: 8px;
  }
}
@media screen and (width< 768px) {
  .hero__wrapper {
    height: 552px;
    padding: 60px 16px;
    background-size: auto 552px;
  }
  .hero__title {
    font-size: 42px;
    line-height: 1.15;
  }
}
/*============FAVORITE COFFEE============*/
.favorite-coffee {
  margin-bottom: 100px;
}
.favorite-coffee__title {
  font-size: 60px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 40px;
}
.favorite-coffee__title--italic {
  font-style: italic;
  color: var(--text-accent);
}
.favorite-coffee__card {
  width: 480px;
  margin: 0 auto;
}
.favorite-coffee__wrapper {
  display: flex;
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
}
.favorite-coffee__card-img {
  margin-bottom: 20px;
}
.favorite-coffee__arrow-btn {
  background-color: inherit;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  width: 60px;
  height: 60px;
  transition: background-color 0.5s;
}
.favorite-coffee__arrow-img {
  stroke: var(--text-dark);
}
.favorite-coffee__card-title {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 16px;
}
.favorite-coffee__card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
}
.favorite-coffee__card-price {
  font-size: 24px;
  line-height: 1.25;
}
.favorite-coffee__pagination-list {
  display: flex;
  justify-content: center;
}
.favorite-coffee__pagination-list-item {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: var(--border-light);
}
.favorite-coffee__pagination-list-item:first-child {
  background-color: var(--border-dark);
}
.favorite-coffee__pagination-list-item:not(:last-child) {
  margin-right: 12px;
}
@media ((hover: hover) and (pointer: fine)) {
  .favorite-coffee__arrow-btn:hover {
    background-color: var(--border-dark);
  }
  .favorite-coffee__arrow-btn:hover .favorite-coffee__arrow-img {
    stroke: var(--background-body);
  }
}
@media screen and (width< 768px) {
  .favorite-coffee__title {
    font-size: 32px;
  }
  .favorite-coffee__card-img {
    width: 348px;
  }
  .favorite-coffee__arrow-btn {
    display: none;
  }
}
/*============ABOUT============*/
.about {
  margin-bottom: 100px;
}
.about__title {
  font-size: 60px;
  line-height: 1.25;
  margin-bottom: 40px;
}
.about__title--italic {
  font-style: italic;
  color: var(--text-accent);
}
.about__img-list-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  height: 1060px;
}
.about__img-list--left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about__img-list--right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about__img-list-item--left,
.about__img-list-item--right {
  width: 660px;
  height: 590px;
  border-radius: 20px;
  overflow: hidden;
}
.about__img-list-item--left:nth-child(2) {
  height: 430px;
}
.about__img-list-item--right:nth-child(1) {
  height: 430px;
}
.about__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform: scale(1.1);
}
@media ((hover: hover) and (pointer: fine)) {
  .about__img-list-item--left:hover .about__img,
  .about__img-list-item--right:hover .about__img {
    transform: scale(1);
  }
}
@media screen and (width< 1440px) {
  .about__img {
    transform: scale(1.05);
  }
  .about__img-list-wrapper {
    flex-direction: row;
    justify-content: center;
  }
  .about__img-list-item--left:last-child {
    display: none;
  }
  .about__img-list-item--right:first-child {
    display: none;
  }
  .about__img-list-wrapper {
    flex-direction: row;
  }
  .about__img-list-item--left,
  .about__img-list-item--right {
    width: 688px;
  }
  .about__img-list-wrapper {
    height: 1220px;
  }
}
@media screen and (width< 768px) {
  .about__img {
    transform: scale(1.22);
  }
  .about__title {
    font-size: 32px;
  }
  .about__img-list-item--left,
  .about__img-list-item--right {
    width: 348px;
  }
}
/*============OUR APP============*/
.app {
  margin-bottom: 100px;
}
.app__wrapper {
  display: flex;
  gap: 100px;
}
.app__wrapper-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 630px;
}
.app__title {
  font-size: 60px;
  line-height: 1.25;
  margin-bottom: 40px;
}
.app__title--italic {
  font-style: italic;
  color: var(--text-accent);
}
.app__description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.app__list {
  display: flex;
}
.app__list-item:not(:last-child) {
  margin-right: 20px;
}
.app__list-link {
  display: flex;
  width: 200px;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  transition: 0.5s;
}
.app__list-link-description--top {
  font-size: 10px;
  line-height: 1.4;
}
.app__list-link-description--bottom {
  font-size: 16px;
  line-height: 1.5;
}
.app__link-img {
  margin-right: 8px;
  stroke: var(--background-body);
  fill: var(--text-dark);
  transition: 0.5s;
}
@media ((hover: hover) and (pointer: fine)) {
  .app__list-link:hover {
    color: var(--text-light);
    background-color: var(--background-container);
  }
  .app__list-link:hover .app__link-img {
    fill: var(--text-light);
  }
}
@media screen and (width< 1440px) {
  .app__wrapper {
    flex-direction: column;
  }
  .app__wrapper-item {
    width: auto;
  }
  .app__img {
    width: 630px;
    height: 630px;
    margin: 0 auto;
  }
}
@media screen and (width< 768px) {
  .app__wrapper {
    gap: 40px;
  }
  .app__title {
    font-size: 32px;
  }
  .app__img {
    width: 348px;
    height: 348px;
    margin: 0;
  }
  .app__list {
    flex-direction: column;
    gap: 20px;
  }
}
/*============FOOTER============*/
.footer__wrapper {
  display: flex;
  align-items: center;
  height: 450px;
  border-radius: 40px;
  padding: 100px;
  color: var(--text-light);
  background-color: var(--background-container);
}
.footer__title {
  font-size: 60px;
  line-height: 1.25;
  margin-bottom: 40px;
}
.footer__title--italic {
  font-style: italic;
  color: var(--text-accent);
}
.footer__social-list {
  display: flex;
}
.footer__wrapper-item:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 530px;
  margin-right: 100px;
}
.footer__wrapper-item:last-child {
  height: 186px;
}
.footer__social-link {
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  transition: 0.5s;
}

.footer__social-icon {
  stroke: var(--text-light);
  transition: 0.5s;
}
.footer__address-title {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 36px;
}
.footer__address-icon {
  position: relative;
  top: 2px;
  margin-right: 6px;
  stroke: var(--text-light);
}
.footer__address-list-item:not(:last-child) {
  margin-bottom: 19px;
}
.footer__address-list-item:last-child {
  font-style: normal;
}
.footer__address-link {
  position: relative;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
}
.footer__address-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -10px;
  background-color: var(--text-light);
  transform: scale(0);
  transition: 0.5s;
}
@media ((hover: hover) and (pointer: fine)) {
  .footer__social-link:hover {
    background-color: var(--background-body);
  }
  .footer__social-link:hover .footer__social-icon {
    stroke: var(--text-dark);
  }
  .footer__address-link:hover::before {
    transform: scale(1);
  }
}
@media screen and (width< 1100px) {
  .footer__wrapper {
    align-items: start;
    padding: 100px 60px;
    flex-direction: column;
    height: auto;
  }
  .footer__wrapper-item:first-child {
    margin: 0 0 100px 0;
  }
}
@media screen and (width< 768px) {
  .footer__title {
    font-size: 32px;
  }
  .footer__wrapper {
    padding: 60px 16px;
  }
  .footer__wrapper-item:first-child {
    margin: 0 0 40px 0;
  }
}
/*============MENU============*/

/*============MENU > FILTER============*/
.menu {
  margin-bottom: 100px;
}
.menu__filter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.menu__filter-title {
  text-align: center;
  font-size: 60px;
  line-height: 1.25;
  max-width: 800px;
  margin-bottom: 40px;
}
.menu__filter-title--italic {
  font-style: italic;
  color: var(--text-accent);
}
.menu__filter-oder-list {
  display: flex;
}
.menu__filter-oder-list-item:not(:last-child) {
  margin-right: 16px;
}
.menu__filter-btn {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  background-color: var(--background-body);
  transition: 0.5s;
}
.menu__filter-btn--current {
  color: var(--text-light);
  border: 1px solid var(--background-container);
  background-color: var(--background-container);
}
.menu__filter-oder-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: var(--border-light);
  transition: 0.5s;
}
.menu__filter-oder-list-icon--current {
  background-color: var(--background-body);
}
/*============MENU > MENU============*/
.menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.menu__list-item {
  max-width: 310px;
  border-radius: 40px;
  border: 1px solid var(--border-light);
}
.menu__img-wrapper {
  width: 309px;
  height: 309px;
  overflow: hidden;
  border-radius: 40px;
}
.menu__list-item-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform: scale(1.1);
}
.menu__list-item-description-wrapper {
  display: flex;
  flex-direction: column;
  height: 195px;
  padding: 20px;
}
.menu__list-iten-title {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 12px;
}
.menu__list-iten-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.menu__list-iten-price {
  font-size: 24px;
  line-height: 1.25;
  margin-top: auto;
}
.menu__btn {
  display: none;
}
@media ((hover: hover) and (pointer: fine)) {
  .menu__list-item:hover .menu__list-item-img {
    transform: scale(1);
  }
  .menu__filter-btn:hover {
    color: var(--text-light);
    border: 1px solid var(--background-container);
    background-color: var(--background-container);
  }
  .menu__filter-btn:hover .menu__filter-oder-list-icon {
    background-color: var(--background-body);
  }
}
@media screen and (width< 1090px) {
  .menu__btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
    background-color: inherit;
  }
  .menu__btn-icon {
    stroke: var(--text-dark);
  }
  .menu__list {
    margin-bottom: 40px;
  }
  .menu__list-item:nth-child(n + 5) {
    display: none;
  }
}
@media screen and (width< 768px) {
  .menu__filter-title {
    font-size: 32px;
  }
  .menu__filter-oder-list-item:not(:last-child) {
    margin-right: 8px;
  }
}
