{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "eol-last": "off",
    "indent": ["off", "tab"],
    "quotes": "off",
    "comma-dangle": "off",
    "no-use-before-define": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "no-param-reassign": "off",
    "prefer-destructuring": "off",
    "import/extensions": ["error", "ignorePackages", { "js": "always" }]
  }
}
